# 0. Neccessary Import Statements

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from src.data_scripts import database_compiler as data_comp
from src.data_scripts.cursor_conn_setup import conn, cursor
import pickle
import os
import pandas as pd

# 1. Load in the Data

#### 1.1 First, get the table names

In [3]:
# Define path to the file.
notebook_path = os.getcwd()
rel_path_to_file = "../data/raw/table_names.pkl"
full_path_to_file = os.path.join(notebook_path, rel_path_to_file)

In [4]:
# Now, load in the list.
table_names_list = pickle.load(open(full_path_to_file, "rb"))

In [5]:
table_names_list[:15:]

['table_5_8',
 'table_5_11',
 'table_27_2',
 'table_6',
 'table_8',
 'table_10',
 'table_11',
 'table_13',
 'table_16',
 'table_19',
 'table_17_7_2',
 'table_17_10_1',
 'table_17_10_2',
 'table_17_10_3',
 'table_17_10_4']

In [6]:
table_names_list.remove("table_1_9_2")

In [59]:
len(table_names_list)

566

#### 1.2 Now use These to Load in the Tables as DataFrames

In [7]:
loaded_in_tables_list_first = [ data_comp.join_with_taxonomy(table_name = table, cursor = cursor) for table in table_names_list[:275:] ]

In [15]:
assert len([potential_df for potential_df in loaded_in_tables_list_first if type(potential_df) == pd.core.frame.DataFrame]) == len(loaded_in_tables_list_first)

275

In [7]:
second = []

In [66]:
second.append([ data_comp.join_with_taxonomy(table_name = table, cursor = cursor) for table in table_names_list[550::] ])

In [67]:
len(second[-1])

16

In [68]:
assert len([potential_df for potential_df in second[-1] if type(potential_df) == pd.core.frame.DataFrame]) == len(second[-1])

In [48]:
### Note that this is a VERY expensive computation! Only perform 
### if absolutely neccessary!
for table in table_names_list:
    hi = data_comp.join_with_taxonomy(table_name = table, cursor = cursor)

In [49]:
table

'table_3_1_9'

In [50]:
table_names_list.index(table)

499

In [47]:
data_comp.join_with_taxonomy(table_name = table_names_list[494], cursor = cursor)

,index,Article_URL,Content,Title,Keywords,Description,Preprocessed_Content,label,Label,ID,Parent,Tier1,Tier2,Tier3,Tier4,Tiers_list
0,0,https://www.reuters.com/article/idUSFWN1IJ01S,May 17 . Cognizant Technology Solutions Corp *...,BRIEF-Dexia and Cognizant in talks for collabo...,belgium france brief dexia and cognizant in ta...,... of intent for cognizant to be Dexia's prov...,may cognizant technology solutions corp dexia ...,Business\ I\.T\.,Business I.T.,72.0,53.0,Business and Finance,Business,Business I.T.,NaN,"[Business and Finance, Business, Business I.T.]"
1,1,https://www.reuters.com/article/idUSL8N1UF1KK,"LONDON, July 19 . British Airways said on Thur...","British Airways says I.T. issue resolved, tryi...",british airways cancellations/ company news we...,... resolved an I.T. issue overnight which had...,london july british airways said thursday reso...,Business\ I\.T\.,Business I.T.,72.0,53.0,Business and Finance,Business,Business I.T.,NaN,"[Business and Finance, Business, Business I.T.]"
2,2,https://www.reuters.com/article/idUSFWN1PZ0WE,Feb 9 . Maxnerva Technology Services Ltd : * S...,BRIEF-Maxnerva Technology Services Sees Declin...,brief maxnerva technology services sees declin...,... NET PROFIT ATTRIBUTABLE TO I.T. INTEGRATIO...,feb maxnerva technology services ltd sees mont...,Business\ I\.T\.,Business I.T.,72.0,53.0,Business and Finance,Business,Business I.T.,NaN,"[Business and Finance, Business, Business I.T.]"
3,3,https://www.reuters.com/article/idUSL3N10I4M42...,Aug 7 . Shenzhen Shenxin Taifeng Group Co Ltd ...,BRIEF-Shenzhen Shenxin Taifeng to acquire Digi...,singapore hong kong mergers / acquisitions / t...,... to acquire Digital China's I.T. distributi...,aug shenzhen shenxin taifeng group co ltd says...,Business\ I\.T\.,Business I.T.,72.0,53.0,Business and Finance,Business,Business I.T.,NaN,"[Business and Finance, Business, Business I.T.]"
4,10,https://www.reuters.com/article/idUSKCN0ZT238,BERLIN . The growing threat of hacking and a d...,Allianz sees cyber premiums as fire insurance ...,germany united states christopher lohmann pete...,"... and new regulation, such as Germany's I.T....",berlin growing threat hacking duty protect dat...,Business\ I\.T\.,Business I.T.,72.0,53.0,Business and Finance,Business,Business I.T.,NaN,"[Business and Finance, Business, Business I.T.]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,420,https://www.forbes.com/2006/12/04/ent-small_bu...,,Small Business On The Cheap,,Everything from businesses you can start for a...,,Business\ I\.T\.,Business I.T.,72.0,53.0,Business and Finance,Business,Business I.T.,NaN,"[Business and Finance, Business, Business I.T.]"
424,421,https://www.forbes.com/2006/12/17/business-sta...,Forbes Industry: Business Services & Supplies ...,Business Services & Supplies,,Robert Evans of Craig-Hallum believes outsourc...,forbes industry business services supplies sta...,Business\ I\.T\.,Business I.T.,72.0,53.0,Business and Finance,Business,Business I.T.,NaN,"[Business and Finance, Business, Business I.T.]"
425,422,https://www.forbes.com/2005/07/26/cx_sr_overse...,,Travelling Overseas on Business,,,,Business\ I\.T\.,Business I.T.,72.0,53.0,Business and Finance,Business,Business I.T.,NaN,"[Business and Finance, Business, Business I.T.]"
426,423,https://www.forbes.com/2005/09/22/cosby-reales...,"Who's buying, who's selling in the world of hi...",Cosby's Funny Business,,"Plus, Kathleen Turner to sell in the Hamptons,...",buying selling world high end real estate hey ...,Business\ I\.T\.,Business I.T.,72.0,53.0,Business and Finance,Business,Business I.T.,NaN,"[Business and Finance, Business, Business I.T.]"
427,427,https://www.forbes.com/2005/12/14/christmas-bu...,"This may be a joyous time of year, but it is d...",A Very Business Christmas,,Still shopping? Check out our financially insp...,may joyous time year dampened grim economic re...,Business\ I\.T\.,Business I.T.,72.0,53.0,Business and Finance,Business,Business I.T.,NaN,"[Business and Finance, Business, Business I.T.]"

In [ ]:
assert len([potential_df for potential_df in loaded_in_tables_list_second if type(potential_df) == pd.core.frame.DataFrame]) == len(loaded_in_tables_list_second)

In [ ]:
loaded_in_tables_list = loaded_in_tables_list_first + loaded_in_tables_list_second

# 2. Save this Data

In [19]:
rel_path_to_save_files = "../data/interim/table_dataframes"
full_path_to_save_files = os.path.join(notebook_path, rel_path_to_save_files)
os.chdir(full_path_to_save_files)

In [20]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_pickle.html#pandas.DataFrame.to_pickle
for table_name, df in zip(table_names_list[275:390:], loaded_in_tables_list_first):
    df.to_pickle("{}.pkl".format(table_name))

In [69]:
assert len(table_names_list[550::]) == len(second[-1])
for table_name, df in zip(table_names_list[550::], second[-1]):
    df.to_pickle("{}.pkl".format(table_name))

In [70]:
pwd

'/Users/sebgo/Documents/Hindsight/hierarchical_text_classification/notebooks'